In [4]:
pip install pyodbc

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyodbc in c:\users\gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (5.1.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
import pyodbc

In [6]:
import pyodbc

# Connection string
connection = pyodbc.connect(
    'DRIVER=ODBC Driver 17 for SQL Server;'
    'SERVER=LAPTOP-75JKGB40;'
    'DATABASE=CB_DATABASE_VARUN;'
    'Trusted_connection=yes;'
)
sql_query = pd.read_sql_query('SELECT student_id FROM student', connection)
sql_query

C:\Users\gupta\AppData\Local\Temp\ipykernel_26068\3974907397.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sql_query = pd.read_sql_query('SELECT student_id FROM student', connection)

   student_id
0           1
1           2
2           3
3           4
4           5

In [7]:
# Assuming 'connection' is a valid SQL Server connection object
sql_query = pd.read_sql_query('SELECT * FROM student', connection)

# Print the result
print(sql_query)

   student_id first_name last_name date_of_birth  gender enrollment_date  \
0           1       John       Doe    2000-01-15    Male      2023-09-18
1           2       Jane     Smith    1999-05-10  Female      2023-09-18
2           3     Robert   Johnson    2001-08-20    Male      2023-09-18
3           4      Emily     Davis    2000-11-30  Female      2023-09-18
4           5    Michael     Brown    1998-02-25    Male      2023-09-18

                       email phone_number
0        johndoe@example.com   1234567890
1      janesmith@example.com   0987654321
2  robertjohnson@example.com   1112223333
3     emilydavis@example.com   4445556666
4   michaelbrown@example.com   7778889999

C:\Users\gupta\AppData\Local\Temp\ipykernel_26068\400631286.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sql_query = pd.read_sql_query('SELECT * FROM student', connection)

In [8]:



# Create a cursor object
cursor = connection.cursor()

# Execute a query
cursor.execute("SELECT * FROM your_table")

# Fetch all results
rows = cursor.fetchall()

# Display results
for row in rows:
    print(row)

# Close connection
cursor.close()
connection.close()

ProgrammingError: ('42S02', "[42S02] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Invalid object name 'your_table'. (208) (SQLExecDirectW)")

In [10]:
import pandas as pd

# Sample data as a dictionary
data = {
    "customer_id": [1, 2, 3, 4, 5],
    "customer_name": ["John Doe", "Jane Smith", "Bob Johnson", "Susan Lee", "Chris Brown"],
    "phone_number": ["1234567890", None, "9876543210", None, "5556667777"],
    "email": ["john@example.com", "jane@example.com", "bob@example.com", "susan@example.com", "chris@example.com"]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Display original data
print("Original Data:")
print(df)

# Filter rows where phone_number is not missing (not null)
# validated_df = df[df["phone_number"].notnull()]
# w = df["phone_number"].isnull()
# df["phone_number"].drop(w)


cleaned_df = df[df['phone_number'].notnull()]

# 
cleaned_df
cleaned_df.to_csv("v.csv")
# # Display cleaned data
# print("\nValidated Data (Rows with non-null phone numbers):")
# print(validated_df)

# # Save cleaned data to a new CSV file
# validated_df.to_csv("validated_customers.csv", index=False)

# print("\nValidated data saved to 'validated_customers.csv'.")

Original Data:
   customer_id customer_name phone_number              email
0            1      John Doe   1234567890   john@example.com
1            2    Jane Smith         None   jane@example.com
2            3   Bob Johnson   9876543210    bob@example.com
3            4     Susan Lee         None  susan@example.com
4            5   Chris Brown   5556667777  chris@example.com