WEB SCRAPPING

In [1]:
import requests
from bs4 import BeautifulSoup 
import pandas as pd

In [2]:
pip install bs4

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: bs4 in c:\users\gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in c:\users\gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from bs4) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from beautifulsoup4->bs4) (2.6)
Note: you may need to restart the kernel to use updated packages.

In [3]:
url="https://quotes.toscrape.com/"

In [4]:
# Step 1 send a request to the website

In [5]:
response = requests.get(url)
print(response.raise_for_status())

None

In [6]:
# Step 2 parse the HTML content of the page
soup = BeautifulSoup(response.text, 'html.parser')

In [7]:
# ster 3 find all quote element 
quote =soup.find_all("div", class_="quote")

In [8]:
# extract data and atore it in a list

data=[]
for quotes in quote :
    text = quotes.find('span',class_='text').get_text()
    author = quotes.find('small',class_='author').get_text()
    tags=[tag.get_text() for tag in quotes.find_all('a',class_='tag')]
    data.append([text,author,",".join(tags)])

In [9]:
# step 5 write the data to CSV file using pandas
df = pd.DataFrame(data,columns=["Quote","Author","Tags"])
df.to_csv("quotes.csv",index=False) #export to CSV

In [10]:
df

,Quote,Author,Tags
0,“The world as we have created it is a process ...,Albert Einstein,"change,deep-thoughts,thinking,world"
1,"“It is our choices, Harry, that show what we t...",J.K. Rowling,"abilities,choices"
2,“There are only two ways to live your life. On...,Albert Einstein,"inspirational,life,live,miracle,miracles"
3,"“The person, be it gentleman or lady, who has ...",Jane Austen,"aliteracy,books,classic,humor"
4,"“Imperfection is beauty, madness is genius and...",Marilyn Monroe,"be-yourself,inspirational"
5,“Try not to become a man of success. Rather be...,Albert Einstein,"adulthood,success,value"
6,“It is better to be hated for what you are tha...,André Gide,"life,love"
7,"“I have not failed. I've just found 10,000 way...",Thomas A. Edison,"edison,failure,inspirational,paraphrased"
8,“A woman is like a tea bag; you never know how...,Eleanor Roosevelt,misattributed-eleanor-roosevelt
9,"“A day without sunshine is like, you know, nig...",Steve Martin,"humor,obvious,simile"

In [11]:
data=[]
for i in range (1,11):
    url=f"https://quotes.toscrape.com/page/{i}/"
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    quote =soup.find_all("div", class_="quote")
    for quotes in quote :
        text = quotes.find('span',class_='text').get_text()
        author = quotes.find('small',class_='author').get_text()
        tags=[tag.get_text() for tag in quotes.find_all('a',class_='tag')]
        data.append([text,author,",".join(tags)])
    
df = pd.DataFrame(data,columns=["Quote","Author","Tags"])
df.to_csv("quotes_of_10_pages.csv") #export to CSV

In [12]:
df

,Quote,Author,Tags
0,“The world as we have created it is a process ...,Albert Einstein,"change,deep-thoughts,thinking,world"
1,"“It is our choices, Harry, that show what we t...",J.K. Rowling,"abilities,choices"
2,“There are only two ways to live your life. On...,Albert Einstein,"inspirational,life,live,miracle,miracles"
3,"“The person, be it gentleman or lady, who has ...",Jane Austen,"aliteracy,books,classic,humor"
4,"“Imperfection is beauty, madness is genius and...",Marilyn Monroe,"be-yourself,inspirational"
...,...,...,...
95,“You never really understand a person until yo...,Harper Lee,better-life-empathy
96,“You have to write the book that wants to be w...,Madeleine L'Engle,"books,children,difficult,grown-ups,write,write..."
97,“Never tell the truth to people who are not wo...,Mark Twain,truth
98,"“A person's a person, no matter how small.”",Dr. Seuss,inspirational
99,“... a mind needs books as a sword needs a whe...,George R.R. Martin,"books,mind"

In [13]:
data=[]
for i in range (1,11):
    url=f"https://books.toscrape.com/catalogue/page-{i}.html/"
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    quote =soup.find_all("article", class_="product_pod")
    for quotes in quote :
        price = quotes.find('p',class_='price_color').get_text()
        ability = quotes.find('p',class_='instock availability').get_text()
        name = quotes.find('h3').find('a')['title']
        # tags=[tag.get_text() for tag in quotes.find_all('a',class_='tag')]
        data.append([price,ability,",".join(name)])
    
df = pd.DataFrame(data,columns=["price","ability","name"])
df.to_csv("books_of_10_pages.csv") #export to CSV

In [14]:
df

Empty DataFrame
Columns: [price, ability, name]
Index: []